@model e_E_Recrutement.Models.Offre

@{
    ViewBag.Title = "ajouterOffre";
}

<h2>ajouterOffre</h2>
<form>
    <fieldset>
        <legend>ajouter un offre</legend>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Id)
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">id_recrutement</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.id_recrutement)
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">contrat</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.contrat)
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Secteur</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.secteur)
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Profil</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.profil)
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Poste</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.poste)
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">remuneration</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.remuneration)
            </div>
        </div>


        <button type="submit" value="ajouterOffre" class="btn btn-primary">Submit</button>
        <button type="reset" onclick="location.href"@Url.Action("listOffre","Offres")" class="btn btn-default">Cancel</button>
    </fieldset>
</form>

